body {
  background-color: black;
  text-align: center;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
}

.out-line {
  border: 6px solid white;
}

div {
  width: 400px;
  height: 200px;
  margin: 6px;
  animation-duration: 1s;
}

button {
  border-radius: 0.4rem;
  outline: none;
}

.box {
  width: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.start-btn {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-transform: uppercase;
    background-color: darkgrey;
    box-shadow: 0 8px 6px -6px white;
    color: black;
    font-weight: 900;
    font-size: 13px;
}

.start-btn:active {
  background-color: #a9a9a9c2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}