body {
  background-color: black;
}

button {
  border-radius: 0.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 6px
}

.blur {
  opacity: 0.6
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.start-btn {
    margin-top: 20px;
    height: 60px;
    border-radius: 0.4rem;
    text-transform: uppercase;
    background-color: green;
    color: black;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
    width: 4rem;
}

#game-over-phrase {
  color: white;
  font-size: 1.4rem
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}